/*******************************************************************************
 * Custom styles.
 ******************************************************************************/



/* Compact cv card list */
.cv .card .list-group-item.compact {
    padding: 0.1rem 1rem;
    border: none;
}


/* Nested list delimiters */
.cv h2.nested-list {
    border-top: 1px solid var(--global-divider-color);
    padding-top: 0.5rem;
    margin-bottom: 0;
    text-align: right;
    font-size: 1rem;
}

/* Highlight text */
.highligth {
    color: var(--global-theme-color);
    font-weight: bold;
}

/* Highlight text */
.highligth {
    color: var(--global-theme-color);
    font-weight: bold;
}

.publications .title {
    font-size: 1.1em;
}

.publications .periodical {
    font-size: 0.8em;
}